<div
  class="fixed bg-navbar h-screen bg-custom-gradient w-[200px] flex flex-col justify-center"
>
  <div
    class="text-orange-500 flex flex-col justify-items-start gap-8 items-center h-[500px]"
  >
    <h2
      class="hover:text-white hover:cursor-pointer border-b-[0.5px] border-white w-[150px] pb-2 text-center"
      (click)="navigateToprofile()"
    >
      Profile
    </h2>
    <h2
      class="hover:text-white hover:cursor-pointer border-b-[0.5px] border-white w-[150px] pb-2 text-center"
      (click)="navigateToBeen()"
    >
      Been
    </h2>
    <h2
      class="hover:text-white hover:cursor-pointer border-b-[0.5px] border-white w-[150px] pb-2 text-center"
    >
      Discovery
    </h2>
  </div>
</div>
