<div
  class="h-screen flex items-center justify-center"
  style="
    background: linear-gradient(
        0.14deg,
        rgba(255, 255, 255, 0.2) 19.87%,
        rgba(12, 22, 24, 0.2) 100.94%
      ),
      #131c20;
  "
>
  <div class="bg-transparent flex flex-col justify-center h-[580px] w-[560px]">
    <div class="bg-transparent flex-col flex justify-center items-center gap-0">
      <img src="../../assets/sightseer.png" width="85" alt="logo" />
      <div class="italic text-orange-600 tracking-wide">SIGHT</div>
      <div class="font-light text-white tracking-wider">S E E R</div>
    </div>
    <div
      class="bg-transparent h-full w-full flex flex-col items-center gap-[50px]"
    >
      <img src="../../assets/globepic.png" alt="world map" class="w-full" />
      <h2 class="text-white tracking-widest font-bold">LOG IN</h2>

      <form>
        <div class="flex flex-col gap-6">
          <div class="flex flex-row">
            <app-user-svg />
            <input
              type="text"
              placeholder="username"
              name="username"
              class="w-full bg-transparent border-b border-white text-white focus:outline-none pl-2"
              [(ngModel)]="username"
            />
          </div>
          <div class="flex flex-row">
            <app-lock-svg />
            <input
              type="password"
              placeholder="Password"
              name="password"
              class="w-[300px] bg-transparent border-b border-white text-white focus:outline-none pl-2"
              [(ngModel)]="password"
            />
          </div>
          <div class="flex items-center mb-6">
            <input type="checkbox" class="mr-2" />
            <span class="text-xs text-white/70">Remember me</span>
          </div>
          <div>
            <button
              type="submit"
              class="w-full bg-white text-black py-2 rounded shadow-lg"
              (click)="onSubmit()"
            >
              SIGN IN
            </button>
          </div>
          <div class="mt-4 text-center text-white/70 text-sm">
            Don’t have an account?
            <a
              class="text-orange-600 cursor-pointer"
              (click)="navigateToRegister()"
              >SIGN UP</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
